{% load vite %}
{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jscorp/Django</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
</head>
<body>
<div x-data="vars"
     class="w-[100vw] h-[100vh] flex justify-center items-center">
    <div>
        <h1 class="text-red-500 text-[40px] font-bold text-center">{% trans "Jscorp/django" %}</h1>
        <h1 class="text-black mb-3 text-[20px] font-bold text-center">{% trans "Assalomu aleykum" %}</h1>
        <a target="_blank" href="https://github.com/ExcelentProgrammer"
           class="text-blue-500 font-bold">Github</a>
        <span class="border border-1 border-black m-2"></span>
        <a target="_blank" href="https://t.me/Azamov_Samandar"
           class="text-blue-500 font-bold">Telegram</a>
        <span class="border border-1 border-black m-2"></span>
        <a target="_blank" href="https://instagram.com/azamov.samandar.2005"
           class="text-blue-500 font-bold">Instagram</a>
        <span class="border border-1 border-black m-2"></span>
        <a target="_blank"
           href="https://github.com/ExcelentProgrammer/django.git"
           class="text-blue-500 font-bold">Source
            code</a>

        <div class="counter flex justify-center mt-5">
            <button class="p-4 px-[40px] bg-gray-200 text-[25px] rounded"
                    x-on:click="count++">+
            </button>
            <span class="text-[30px] mx-4 mt-4" x-text="count"></span>
            <button class="p-4 px-[40px] bg-gray-200 text-[25px] rounded"
                    x-on:click="count--">-
            </button>
        </div>
    </div>
</div>

{% vite_load "resources/static/js/app.js" %}
</body>
</html>
